<!DOCTYPE html>
<html lang="en" class="theme-dark">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Blog Prototype</title>
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		
		<link href="/styles/themes.min.css" rel="stylesheet">
		<link href="/styles/base.min.css" rel="stylesheet">

		<!-- Font Awesome - Preload to load asynchronously -->
		<link
			rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

		@!section('styles')
	</head>
	<body>
		<!-- Navigation -->
		<nav>
			<a href="/">Home</a>
			<a href="#">About</a>

			@if(auth)
			<button onClick="location.href='/logout'" id="logout">
				<i class="fa-solid fa-arrow-right-from-bracket"></i>
			</button>
			@endif
			
			<button id="theme-switcher" onClick="location.href = '/settings'" aria-label="Settings">
				<i class="fa-solid fa-gear"></i>
			</button>
		</nav>

		<!-- Content -->
		<section id="content">
			@!section('content')
		</section>

		<!-- Footer -->
		<footer>
			<p>© Lewis Comstive 2023</p>
			<hr>

			@if(auth)
			<a href="/post/new">New post</a>
			<a href="/profile">Profile</a>
			<!-- <a href="/users">Users</a> -->
			@else
			<a href="/login">Login</a>
			@endif
		</footer>

		<script>
			// Called immediately at script initialisation/load
			const DefaultTheme = 'Dark'
			const DefaultFont = 'Open Sans'

			let theme = localStorage.getItem('theme')
			if(theme === null)
				localStorage.setItem('theme', theme = DefaultTheme)

			let font = localStorage.getItem('font')
			if(font === null)
				localStorage.setItem('font', font = DefaultFont)

			document.documentElement.className = `theme-${theme.toLowerCase()}`
			document.body.style.fontFamily = font

			document.head.innerHTML += `<link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
							href="https://fonts.googleapis.com/css2?family=${encodeURIComponent(font)}&display=swap">`
		</script>
	</body>
</html>
