<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Blog Prototype</title>

		<script src="/js/themes.js"></script>
		<link href="/styles/base.css" rel="stylesheet">

		<!-- Font Awesome -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

		@!section('styles')
	</head>
	<body>
		<!-- Navigation -->
		<nav>
			<a href="/">Home</a>
			<a href="#">About</a>

			<button id="theme-switcher" onClick="toggleTheme()">Theme</button>

			@if(auth)
			<button onClick="location.href='/logout'">Logout</button>
			@endif
		</nav>

		<!-- Content -->
		<section id="content">
			@!section('content')
		</section>

		<!-- Footer -->
		<footer>
			<p>Created with 💖</p>
			<p>2023</p>
			<hr>

			@if(auth)
			<a href="/post/new">New post</a>
			@else
			<a href="/login">Login</a>
			@endif
		</footer>
	</body>
</html>
