<a class="post-preview" href="/post/{{ post.url }}">
	<h1 class="post-title">{{ post.title }}</h1>
	<p class="post-description subtext">{{ post.description }}</p>
	<p class="publish-date">{{ post.createdAt.toLocaleDateString('en-AU') }}</p>
	<div class="background"></div>
</a>
