<a class="post-preview" href="/post/{{ post.url }}">
	<h3 class="post-title">{{ post.title }}</h3>
	<p class="post-description">{{ post.description }}</p>
	<p class="publish-date">{{ post.createdAt.toLocaleDateString('en-AU') }}</p>
	<div class="background"></div>
</a>
