@layout('layouts/app.edge')

@section('styles')
	@if(production)
		<link href="/styles/index.min.css" rel="stylesheet">
	@else
		<link href="/styles/index.css" rel="stylesheet">
	@endif
@endsection

@section('content')
	<h1>All Drafts</h1>
	<section class="posts-list">
		@each(post in posts)
			@if(!post.isActive)
				@include('layouts/postPreview.edge')
			@endif
		@endeach
	</section>
@endsection