@layout('layouts/app.edge')

@section('styles')
<link href="/styles/login.min.css" rel="stylesheet">
@endsection

@section('content')
<form action="/login" method="POST">
	<label for="username">Name</label>
	<input type="text" name="username" placeholder="Name">
	
	<label for="password">Password</label>
	<input type="password" name="password" placeholder="Password">

	<button id="submit">
		@if(firstTimeSetup)
		Create Account
		@else
		Login
		@endif
	</button>
</form>
@endsection