:root
{
	--content-width: 1000px;
}

html, body
{
	margin: 0;

	color: var(--colour);
	background-color: var(--bg-colour);

	overflow-x: hidden;
}

img
{
	width: 100%;
	height: auto;
}

a { color: var(--accent-colour); }
a:hover { color: var(--button-hover-colour); }

button, select
{
	background: none;
	color: var(--colour);
	border: 1px solid var(--button-colour);
	border-radius: var(--border-radius);
}

select > option
{
	color: var(--colour);
	background-color: var(--bg-colour);
}

button:hover, select:hover { border-color: var(--button-hover-colour); }
button:disabled, select:disabled
{
	color: var(--button-disabled-colour);
	border-color: var(--button-disabled-colour);
}

input, textarea
{
	width: calc(100% - 15px);
	padding: 5px 7.5px;
	color: var(--colour);
	background: var(--bg-secondary-colour);
	border-radius: var(--border-radius);
	border: 1px solid var(--bg-colour);
	outline: none;
}

input:disabled, textarea:disabled
{
	color: var(--placeholder-colour);
}

textarea
{
	font-family: 'Lexend', sans-serif;
	resize: none;
	overflow: hidden;
	min-height: 150px;
}

code
{
	display: inline-block;
	padding: 5px 10px;
	background-color: var(--bg-secondary-colour);
}

input:focus, textarea:focus { border-color: var(--accent-colour); }
input::placeholder, textarea::placeholder { color: var(--placeholder-colour); }

nav
{
	height: 35px;
	padding: 5px 10px;
	background: none;

	gap: 20px;
	display: flex;
	position: relative;
	justify-content: center;

	border-bottom: 1px solid var(--colour);
}

nav > a, footer > a
{
	padding-top: 5px;
	text-decoration: none;
	color: var(--placeholder-colour);
	border-bottom: 0px solid var(--accent-colour);
}

nav > a
{
	
	height: 100%;
}
nav > a:hover
{
	transition: var(--transition);
	border-bottom-width: 1px;
}

#theme-switcher
{
	position: absolute;
	right: 10px;
	top: 5px;
	bottom: 5px;
}

#logout
{
	position: absolute;
	right: 45px;
	top: 5px;
	bottom: 5px;
}

#content
{
	padding: 50px 0;
	width: var(--content-width);
	margin: 0 calc((100vw - var(--content-width)) * 0.5);
}

footer
{
	border-top: 1px solid var(--colour);
	left: 0;
	right: 0;
	bottom: 0;
	background: none;
	position: relative;
	padding: 5px calc((100vw - var(--content-width)) * 0.5);
	padding-bottom: 30px;
}

footer > a
{
	display: block;
}

/* Post Contents */
.post-content h2 { font-size: 1.3em; }

blockquote, q
{
	display: block;
	text-decoration: dotted;

	border-left: 1px solid var(--colour);
	padding-left: 20px;
}

@media screen and (max-width: 650px)
{
	#content
	{
		width: calc(100% - 60px);
		margin: 0 30px;
	}

	footer
	{
		width: calc(100% - 60px);
		padding: 0 30px;
	}
}

@media screen and (min-width: 651px) and (max-width: 1000px)
{
	:root { --content-width: 600px; }
}