@import url('https://fonts.googleapis.com/css2?family=Lexend');

:root
{
	--font-size: 18px;
	--content-width: 1000px;
	--border-radius: 5px;
	--transition: all 0.15s ease-in-out;
}

.theme-dark
{
	--colour: white;
	--bg-colour: #131317;
	--accent-colour: #4040ff;
	--button-colour: var(--colour);
	--button-hover-colour: #6767ff;
	--button-disabled-colour: #3f3f8d;
	--placeholder-colour: #a3a3a3;
	--bg-secondary-colour: #212142;
	--bg-secondary-colour-hover: #303062;
}

.theme-light
{
	--colour: black;
	--bg-colour: #ffffff;
	--button-colour: white;
	--accent-colour: #1919ff;
	--button-hover-colour: #6767ff;
	--button-disabled-colour: #4646a8;
	--placeholder-colour: #818181;
	--bg-secondary-colour: #eaeaea;
	--bg-secondary-colour-hover: #eaeaea;
}

html, body
{
	margin: 0;

	color: var(--colour);
	background-color: var(--bg-colour);

	font-family: 'Lexend', sans-serif;
	font-size: var(--font-size);

	overflow-x: hidden;
	transition: var(--transition);
}

img
{
	width: 100%;
	height: auto;
}

a { color: var(--accent-colour); }
a:hover { color: var(--button-hover-colour); }

button
{
	color: var(--button-colour);
	background-color: var(--accent-colour);
	border: 1px solid var(--accent-colour);
	border-radius: var(--border-radius);

	transition: var(--transition);
}

button:hover { background-color: var(--button-hover-colour); }
button:disabled
{
	border-color: var(--button-disabled-colour);
	background-color: var(--button-disabled-colour);
}

input, textarea
{
	width: calc(100% - 15px);
	padding: 5px 7.5px;
	color: var(--colour);
	background: var(--bg-secondary-colour);
	border-radius: var(--border-radius);
	border: 1px solid var(--bg-colour);
	outline: none;
}

input:disabled, textarea:disabled
{
	color: var(--placeholder-colour);
}

textarea
{
	font-family: 'Lexend', sans-serif;
	resize: none;
	overflow: hidden;
	min-height: 150px;
}

input:focus, textarea:focus { border-color: var(--accent-colour); }
input::placeholder, textarea::placeholder { color: var(--placeholder-colour); }

nav
{
	height: 35px;
	padding: 5px 10px;
	background-color: var(--bg-secondary-colour);

	display: flex;
	position: relative;
	gap: 20px;
	justify-content: center;
}

nav > a, footer > a
{
	padding-top: 5px;
	color: var(--colour);
	border-radius: var(--border-radius);
}

#theme-switcher
{
	position: absolute;
	right: 10px;
	top: 5px;
	bottom: 5px;
}

#logout
{
	position: absolute;
	right: 45px;
	top: 5px;
	bottom: 5px;
}

#content
{
	padding: 50px 0;
	width: var(--content-width);
	margin: 0 calc((100vw - var(--content-width)) * 0.5);
}

footer
{
	left: 0;
	bottom: 0;
	width: calc(100vw - 40px);
	padding: 5px 20px;
	padding-bottom: 30px;
	background-color: var(--bg-secondary-colour);
}

footer > a
{
	display: block;
}

@media screen and (max-width: 650px)
{
	#content
	{
		width: calc(100% - 60px);
		margin: 0 30px;
	}
}

@media screen and (min-width: 651px) and (max-width: 1000px)
{
	:root { --content-width: 600px; }
}