:root
{
	--post-gap: 15px;
	--post-padding: 15px;
	--post-bg-shadow-blur: 5px;
	--post-bg-shadow-offset: 5px;
}

.posts-list
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: var(--post-gap);
}

.post-preview, #see-more
{
	cursor: pointer;
	min-height: 100px;
	position: relative;
	min-width: 250px;
	width: calc(33% - (var(--post-gap) * 0.5) - (var(--post-padding) * 2) - 2px);

	color: var(--text);
	text-decoration: none;
	padding: var(--post-padding);
	border-radius: var(--border-radius);
}

.post-title { margin: 0; }

.post-description
{
	margin: 0;
	color: var(--secondary-colour);
	margin-bottom: 1.3em;
}

.publish-date
{
	margin: 0;
	font-size: 0.75em;
	opacity: var(--hover-opacity);
}

#see-more
{
	border: none;
	height: 1.5em;
	box-shadow: none;
	min-height: unset;
}

#see-more:hover
{
	color: var(--accent-button-text);
	background: var(--accent);
}

@media screen and (max-width: 600px)
{
	#recent-posts { flex-direction: column; }

	#see-more { min-height: 20px; }
	.post-preview, #see-more { width: calc(100% - (var(--post-padding) * 2)); }
}

@media screen and (min-width: 601px) and (max-width: 1000px)
{
	.post-preview, #see-more { width: calc(50% - (var(--post-gap) * 0.5) - (var(--post-padding) * 2) - 2px); }
}