input
{
	padding: 10px;
	margin-bottom: 5px;
	width: calc(100% - 20px);
}

label
{
	display: block;
	margin: 5px 2.5px;
}

#submit
{
	margin-top: 10px;
	width: 100%;
	padding: 10px;
}

.error
{
	width: 100%;
	font-size: 0.8em;
	text-align: center;
	opacity: var(--hover-opacity);
}