article
{
	margin: 0;
	font-size: inherit;
	position: relative;
}

h1 { margin: 0; font-size: 1.5em; }
h2 { font-size: 1.3em; }

.description, .publish-date
{
	font-size: 0.9em;
	margin: 10px 0;
	font-weight: 600;
	color: var(--placeholder-colour);
}

#content { font-size: inherit; }

#post-content
{
	font-size: inherit;
	padding-top: 30px;
}

#headerMedia
{
	width: 100%;
	height: auto;
	border-radius: var(--border-radius);
}

.draft-prompt
{
	color: var(--draft-prompt-colour);
}

#edit
{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
}