#settingsContent > section
{
	width: 15em;
}

#settingsContent > section > label
{
	margin-bottom: 10px;
	display: inline-block;
	width: 5em;
}

#settingsContent > section > select
{
	font-size: inherit;
	width: calc(100% - 6em);
	padding: 5px 0;
}

#saveSettings
{
	font-size: inherit;
	padding: 10px 20px;
}

.numberChanger > button
{
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	font-size: 0.9em;
	font-weight: 600;
}

.numberChanger > input
{
	width: 30px;
	font-size: 0.75em;
	display: inline-block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
	margin: 0;
	-webkit-appearance: none;
}

input[type=number] { -moz-appearance: textfield; }

@media screen and (max-width: 600px)
{
	#saveSettings { width: 100%; }

	#settingsContent > section > label
	{
		width: 100%;
		display: block;
		margin-bottom: 5px;
	}

	#settingsContent > section
	{
		width: 100%;
		margin-bottom: 15px;
	}

	#settingsContent > section > select { width: 100%; }
}