:root
{
	/* Fallbacks for theme colours */
	--colour: black;
	--secondary-colour: #b6b6b6;
	
	--background: #ffffff;
	--background-secondary: #eaeaea;

	--accent-colour: #bcf6ff;
	--placeholder-colour: #6b6b6b;

	--transition-time: 0.15s;

	/* Button */
	--button-background: 	none;
	--button-colour: 		var(--colour);
	--button-border: 		1px solid var(--button-colour);
	
	--button-hover-colour: 		var(--button-colour);
	--button-hover-border: 		var(--button-border);
	--button-hover-background: 	var(--button-background);
	
	--button-disabled-colour: 		var(--button-colour);
	--button-disabled-border: 		var(--button-border);
	--button-disabled-background: 	var(--button-background);

	/* Link */
	--link: 	  var(--button-colour);
	--link-hover: var(--button-hover-colour);

	--link-decoration-size: 1px;
	--link-decoration-style: underline;
	--link-decoration-colour: var(--link);

	--link-hover-decoration-size: var(--link-decoration-size);
	--link-hover-decoration-style: var(--link-decoration-style);
	--link-hover-decoration-colour: var(--link-decoration-colour);

	/* Input */
	--input-colour: 	var(--colour);
	--input-background: var(--background-secondary);
	--input-border: 	1px solid var(--background);
	
	--input-active-colour: 	   var(--input-colour);
	--input-active-border: 	   var(--input-border);
	--input-active-background: var(--input-background);

	--input-hover-colour: 	  var(--input-colour);
	--input-hover-border: 	  var(--input-border);
	--input-hover-background: var(--input-background);

	--input-disabled-colour: 	 var(--input-colour);
	--input-disabled-border: 	 var(--input-border);
	--input-disabled-background: var(--input-background);

	/* Navbar */
	--nav-background: 		none;
	--nav-colour: 			var(--colour);

	--nav-hover-colour:  	var(--link-hover);
	--nav-hover-background: var(--nav-background);

	/* Footer */
	--footer-background: 	   none;
	--footer-colour: 		   var(--link);

	--footer-hover-colour:     var(--link-hover);
	--footer-hover-background: var(--nav-background);

	/* Content Editor */
	--preview-border: 1px solid var(--colour);
	--content-editor-background: var(--background-secondary);
	--draft-prompt-colour: #ff2020;
	--preview-button-border: 1px solid var(--colour);
	
	--preview-button-colour: var(--colour);
	--preview-button-background: none;
	
	--preview-button-active-colour: var(--colour);
	--preview-button-active-background: var(--accent-colour);
}

.theme-light
{
	--accent-colour: #ff1b1b;
	
	--link: var(--accent-colour);
	--link-hover: #ff5959;
	--link-decoration-colour: var(--link);
	--link-hover-decoration-colour: var(--link-hover);

	--nav-colour: var(--colour);
	--nav-hover-colour: var(--link-hover);

	--input-disabled-colour: #686868;
	--button-hover-colour: #6f6f6f;
	--button-hover-border: 1px solid #bfbfbf;
}

.theme-dark
{
	--accent-colour: #4a4aca;
	
	--link: var(--accent-colour);
	--link-hover: #7d7dff;
	--link-decoration-colour: var(--link);
	--link-hover-decoration-colour: var(--link-hover);

	--colour: white;
	--background: #0d0d0e;
	--background-secondary: #2e2e2e;

	--input-disabled-colour: 1px solid #6f6f6f;
	--button-hover-border: 1px solid #b0b0b0;
}

.theme-matrix
{
	--colour: #40ff00;
	--background: black;
	--accent-colour: #fff;
	--button-hover-colour: #bbffa4;
	--placeholder-colour: #2eb900;
	--background-secondary: #143409;
	--draft-prompt-colour: #e73939;
}

.theme-other
{
	--colour: white;
	--accent-colour: #a239ca;
	--border-radius: 10px;
	--placeholder-colour: #e7dfdd;
	--background: no-repeat linear-gradient(#0e0b16, #150e27);
	--background-secondary: linear-gradient(-45deg, #a239ca, #6a2486);

	--input-background: #0e0b16;
	--input-border: 1px solid var(--colour);
	--input-hover-background: var(--input-background);

	--button-hover-colour: #a9a9a9;
	--button-hover-border: 1px solid var(--button-hover-colour);

	/* Content Editor */
	--content-editor-background: var(--input-background);
}