:root
{
	/* Fallbacks for theme colours */
	--text: #050505;
	--accent-button-text: var(--text);
	--background: #fafafa;
	--primary: #cccccc;
	--secondary: #e6e6e6;
	--accent: #313544;

	--hover-opacity: 0.8;
	--disabled-opacity: 0.45;

	--background-panel-opacity: 10%;
	--background-panel-hover-opacity: 20%;

	--border-radius: 5px;
	--line-height: normal;
	--transition-time: 0.15s;
}

.theme-light
{
	--accent-button-text: var(--background);
}

.theme-dark
{
	--text: #f1f2f4;
	--background: #050506;
	--primary: #2e2e38;
	--secondary: #1e1c22;
	--accent: #635eff;
}

.theme-blue
{
	--text: #fff;
	--background: #242582;
	--primary: #553d67;
	--secondary: #c2576e;
	--accent: #f64c72;
}

.theme-crimson
{
	--text: #f8e8e8;
	--background: #040101;
	--primary: #832a2d;
	--secondary: #2e0e11;
	--accent: #b1393d;
}
